/* <!-- login form --> */
#log-form{
	margin-top:85px;
}
#login_form{
	    margin-top: 40px;
   		 padding-top: 22px;
}

#form_group1{
	    padding-bottom: 25px;	
}
#form_group2{
	padding-bottom: 25px;	
}
#log-header{
	background-color:#E0EEEE;
}
#terms-box{
	margin-bottom:15px;
}