<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Create Donor</title>
<!-- bootstrap css files -->
<link rel="stylesheet" href="css/bootstrap-theme.css">
<link rel="stylesheet" href="css/bootstrap-theme.css.map">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css.map">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap.css.map">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css.map">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css.map">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css.map">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Bootstrap js files -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- bootstrap fonts -->

<!-- angularjs js file -->
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/DonorController.js"></script>

<!-- datepicker js file-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker1" ).datepicker();
    $( "#datepicker2" ).datepicker();
  } );
  
  </script>
  
  <!-- active tab script -->
  <script>
  $('.nav a:not(".external")').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

</head>
<body ng-app="donorApp" ng-controller="donorController as dono">

<!-- start of container -->
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-md-8">	   
			<h2>Create Donor</h2> 
			<form class="navbar-form" role="search">
					<div class="input-group add-on" style="margin-left: 486px;">
				      	<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					      	<div class="input-group-btn">
					        	<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	      					 </div>
   					 </div>
			 </form>
				<ul id = "myTab"  class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#personal">Personal Information</a></li>
					<li><a data-toggle="tab" href="#bank">Bank Details</a></li>
					<li><a data-toggle="tab" href="#payment">Payment Details</a></li>
				</ul><br>
				<!-- Start of tab content -->
			<form ng-submit="dono.submit();">
				<div class="tab-content">
				<!-- Start of personal details -->
					<div id="personal" class="tab-pane fade in active">
						<div class="col-lg-12">
							<div class="col-md-6">
								<div class="input-group input-group-lg">
									<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
									<input type="text" class="form-control" placeholder="First Name" aria-describedby="sizing-addon1" ng-model="dono.data.donarfirstname">
								</div> <br>
						
								<div class="input-group input-group-lg">
									<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
									<input type="text" class="form-control" placeholder="Last Name" aria-describedby="sizing-addon1" ng-model="dono.data.donarlastname"> 
								</div><br>
						
								<div class="input-group input-group-lg">
									<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
									<input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1" ng-model="dono.data.donaremail">
								</div><br>
						
								<div class="input-group input-group-lg">
									<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-phone"></span></span>
									<input type="text" class="form-control" placeholder="Mobile" aria-describedby="sizing-addon1" ng-model="dono.data.donarmobile">
								</div><br>
								 <div class="input-group input-group-lg">
					                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-road"></span></span>
					                  <input type="text" class="form-control"  placeholder="Address" aria-describedby="sizing-addon1" ng-model="dono.data.donaraddress">
								</div> <br>
							</div>
							<div class="col-md-6">
								<div class="input-group input-group-lg">
									<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-asterisk"></span></span>
									<!-- <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1"> -->
									<select class="form-control" ng-model="dono.data.donarRegion">
				                      	<option>--Region--</option>    
				                        <option>SB</option>
				                        <option>CA</option>
				                        <option>SB-NRE</option>
				                        <option>SB-NRO</option>
				                        <option>Other</option>  
			                      	</select>
								</div> <br>
			                   <div class="input-group input-group-lg">
				                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-tower"></span></span>
				                      <!-- <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1"> -->
				                      <select class="form-control" ng-model="dono.data.donarCity">
				                      	<option>--City--</option>    
				                        <option>SB</option>
				                        <option>CA</option>
				                        <option>SB-NRE</option>
				                        <option>SB-NRO</option>
				                        <option>Other</option>  
				                      </select>
			                   </div> <br>
			                 <div class="input-group input-group-lg">
			                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-bookmark"></span></span>
			                      <!-- <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1"> -->
			                      <select class="form-control" ng-model="dono.data.donarState">
			                      	<option>--State--</option>    
			                        <option>SB</option>
			                        <option>CA</option>
			                        <option>SB-NRE</option>
			                        <option>SB-NRO</option>
			                        <option>Other</option>  
			                      </select>
			                   </div> <br>
			                 <div class="input-group input-group-lg">
			                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-check"></span></span>
			                      <!--  <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1"> --> 
			                      <select class="form-control"  ng-model="dono.data.donarCenter">
			                      	<option>--Center--</option>    
			                        <option>SB</option>
			                        <option>CA</option>
			                        <option>SB-NRE</option>
			                        <option>SB-NRO</option>
			                        <option>Other</option>  
			                      </select>
			                   </div><br> 
							</div>
						</div>
						
						<nav aria-label="...">
							<ul class="pager">
								<!--  <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li> -->
								<li class="next"><a data-toggle="tab" href="#bank"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>
						</nav>              
					</div>
				<!-- End of personal details -->
				
				<!-- Start of bank details -->                              
					<div id="bank" class="tab-pane fade">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
							<input type="text" class="form-control" placeholder="Account Holder Name" aria-describedby="sizing-addon1" ng-model="dono.data.bankDetails.bankDetailsAccountHolderName">
						</div> <br>                  
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-home"></span></span>
							<input type="text" class="form-control" placeholder="Bank Name" aria-describedby="sizing-addon1" ng-model="dono.data.bankDetails.bankDetailsBankName">
						</div> <br>           
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-th-list"></span></span>
							<input type="text" class="form-control" placeholder="Account No." aria-describedby="sizing-addon1" ng-model="dono.data.bankDetails.bankDetailsAccountNo">
						</div> <br>     
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-flag"></span></span>
							<input type="text" class="form-control" placeholder="Branch" aria-describedby="sizing-addon1" ng-model="dono.data.bankDetails.bankDetailsBranch">
						</div> <br>                         
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-record"></span></span>
							<input type="text" class="form-control" placeholder="IFSC Code" aria-describedby="sizing-addon1" ng-model="dono.data.bankDetails.bankDetailsIFSCCode">
						</div> <br>                       
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-check"></span></span>
							<!-- <input type="text" class="form-control" placeholder="First Name" aria-describedby="sizing-addon1"> -->
							<select class="form-control" ng-model="dono.data. bankDetails.bankDetailsAccountType">
								<option>SB</option>
								<option>CA</option>
								<option>SB-NRE</option>
								<option>SB-NRO</option>
								<option>Other</option>                      
							</select>
						</div> 
						<ul class="pager">
							<li class="previous"><a data-toggle="tab" href="#personal"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
							<li class="next"><a data-toggle="tab" href="#payment"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
						</ul>
					</div>
				<!-- End of bank details -->
				
			<!-- Start of payment details --> 
				<div id="payment"  class="tab-pane fade">
					 <div class="form-group">
						<div class='input-group date'>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
						</span>
								<input type='text' id="datepicker1" class="form-control" placeholder="Start Date" ng-model="dono.data.paymentDetails.paymentDetailsStartDate"/>
						</div>
					</div>
					
					<!-- <div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
							<input type="text"  id="datepicker1" class="form-control" placeholder="Start date" aria-describedby="sizing-addon1" ng-model="dono.data.paymentDetails.paymentDetailsAmountInRs">
						</div> <br>-->
						
						<!-- <div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
							<input type="text"  id="datepicker2" class="form-control" placeholder="End date" aria-describedby="sizing-addon1" ng-model="dono.data.paymentDetails.paymentDetailsAmountInRs">
						</div> <br>-->
						
					 	<div class="form-group">
							<div class='input-group date'>
							    <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
							   </span>
								  <input type='text' id="datepicker2"  class="form-control" placeholder="End Date Date" ng-model="dono.data.paymentDetails.paymentDetailsEndDate"/>
								
							</div>
						</div> 
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-usd"></span></span>
							<input type="text" class="form-control" placeholder="Amount in Rupees" aria-describedby="sizing-addon1" ng-model="dono.data.paymentDetails.paymentDetailsAmountInRs">
						</div> <br>
					
					
						<div class="input-group input-group-lg">
					      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-check"></span></span>
					           <!-- <input type="text" class="form-control"  placeholder="" aria-describedby="sizing-addon1"> -->
			                      <select class="form-control" placeholder="Frequency" ng-model="dono.data.paymentDetails.paymentDetailsFrequency">
			                      	<option>--Frequency--</option>    
			                          <option>Daily</option>
			                          <option>Weekly</option>
			                          <option>Quarterly</option>
			                          <option>Semi-Annualy</option>
			                          <option>Yearly</option>
			                          <option>Bi-Monthly</option>
			                          <option>As and when Presented</option>
			                      </select>
					 	</div> <br> 
					   <button type="submit" class="btn btn-primary" >Submit</button>
					 		<!-- <button type="button"  class="btn btn-primary" value=Submit>Submit</button>  -->   
						<ul class="pager">
						<li class="previous"><a data-toggle="tab" href="#bank"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
						</ul>
					</div>
				<!-- End of payment details -->
			</form>
				</div>
				<!-- End of tab content -->
		</div>
	
	<div class="col-xs-6 col-md-4"></div>
			
	</div>
</div>
<!-- End of container -->
 
</body>
</html>













<!------------------------------------------------------------------------ Old code  ------------------------------------------------------------------>

<!-- <!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Create Donor</title>
<script type="text/javascript" src="js/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/crteatedonar_controller.js" type="text/javascript"></script>
   Latest compiled and minified CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

Optional theme
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

Latest compiled and minified JavaScript
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script> 
</head>
<body ng-app="CreateApp" ng-controller="CreateController as ctrl">
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>

<div class="container">
	<div class="row">
	body of create donor
  		<div class="col-xs-8 col-md-8">  
			  			  start of create donor title
			  			  <h2>Create Donor</h2>
			  			  	<form class="navbar-form" role="search">
								<div class="input-group add-on" style="margin-left: 486px;">
				      				<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					      				<div class="input-group-btn">
					        				<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					      				</div>
			    				</div>
			  				</form>
			  			  end of create donor title
			  			  start create donor nav tabs
						 <ul class="nav nav-tabs">
						    <li class="active"><a data-toggle="tab" href="#personal">Personal Information</a></li>
						    <li><a data-toggle="tab" href="#bank">Bank Details</a></li>
						    <li><a data-toggle="tab" href="#payment">Payment Details</a></li>
			  			</ul>
			  			End of create donor nav tabs
			  			start of tab content
			    	 	<div class="tab-content">
					  	   <div id="personal" class="tab-pane fade in active">
						  	   start of personal info content
						  	   <div class="row">
								  	   <div class="col-lg-12">
									  	   <div class="col-md-6"> 
									  			 <div class="input-group input-group-lg">
									                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
									                     <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1" ng-model="ctrl.firstname">
									              </div> <br>
									               <div class="input-group input-group-lg">
									                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
									                     <input type="text" class="form-control"  placeholder="Last Name" aria-describedby="sizing-addon1" ng-model="ctrl.lastname">
									               </div><br>
									  			   <div class="input-group input-group-lg">
									                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
									                     <input type="text" class="form-control"  placeholder="Email" aria-describedby="sizing-addon1" ng-model="ctrl.email">
									               </div><br>
									               <div class="input-group input-group-lg">
									                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-phone"></span></span>
									                     <input type="text" class="form-control"  placeholder="Mobile" aria-describedby="sizing-addon1" ng-model="ctrl.mobile">
									               </div><br> 
									               <div class="input-group input-group-lg">
									                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-road"></span></span>
									                     <input type="text" class="form-control"  placeholder="Address" aria-describedby="sizing-addon1" ng-model="ctrl.address">
									               </div>
									         </div>
								               <div class="col-md-6">
									                <div class="input-group input-group-lg">
										                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-asterisk"></span></span>
										                      <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1">
										                      <select class="form-control" ng-model="ctrl.donarRegion">
										                      	<option>--Region--</option>    
										                        <option>SB</option>
										                        <option>CA</option>
										                        <option>SB-NRE</option>
										                        <option>SB-NRO</option>
										                        <option>Other</option>  
										                      </select>
									                   </div> <br>
								                   <div class="input-group input-group-lg">
									                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-tower"></span></span>
									                      <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1">
									                      <select class="form-control" ng-model="ctrl.donarCity">
									                      	<option>--City--</option>    
									                        <option>SB</option>
									                        <option>CA</option>
									                        <option>SB-NRE</option>
									                        <option>SB-NRO</option>
									                        <option>Other</option>  
									                      </select>
								                   </div> <br>
								                   <div class="input-group input-group-lg">
								                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-bookmark"></span></span>
								                      <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1">
								                      <select class="form-control" ng-model="ctrl.donarState">
								                      	<option>--State--</option>    
								                        <option>SB</option>
								                        <option>CA</option>
								                        <option>SB-NRE</option>
								                        <option>SB-NRO</option>
								                        <option>Other</option>  
								                      </select>
								                   </div> <br>
								                   <div class="input-group input-group-lg">
								                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-check"></span></span>
								                      <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1">
								                      <select class="form-control" ng-model="ctrl.donarCenter">
								                      	<option>--Center--</option>    
								                        <option>SB</option>
								                        <option>CA</option>
								                        <option>SB-NRE</option>
								                        <option>SB-NRO</option>
								                        <option>Other</option>  
								                      </select>
								                   </div><br> 
								               </div>
								              </div>
						               		</div>
						                End of personal info contents 
					               <nav aria-label="...">
									  <ul class="pager">
									    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
									    <li class="next"><a data-toggle="tab" href="#bank"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
									  </ul>
								  </nav>   
					          </div>   
					          Starr of bank details                           
					          <div id="bank" class="tab-pane fade">
					              <div class="input-group input-group-lg">
					                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
					                     <input type="text" class="form-control"  placeholder="Account Holder Name" aria-describedby="sizing-addon1" ng-model="ctrl.accontholdername">
					              </div> <br>
					                         
					               <div class="input-group input-group-lg">
					                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-home"></span></span>
					                     <input type="text" class="form-control"  placeholder="Bank Name" aria-describedby="sizing-addon1" ng-model="ctrl.bankname">
					               </div> <br>
					                         
					                <div class="input-group input-group-lg">
					                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-th-list"></span></span>
					                     <input type="text" class="form-control"  placeholder="Account No." aria-describedby="sizing-addon1" ng-model="ctrl.accountno">
					                </div> <br>
					                         
					               	<div class="input-group input-group-lg">
					                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-flag"></span></span>
					                     <input type="text" class="form-control"  placeholder="Branch" aria-describedby="sizing-addon1" ng-model="ctrl.branch">
					                </div> <br>
					                         
					                <div class="input-group input-group-lg">
					                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-record"></span></span>
					                     <input type="text" class="form-control"  placeholder="IFSC Code" aria-describedby="sizing-addon1" ng-model="ctrl.ifsc_code">
					                </div> <br>
					                         
					              <div class="input-group input-group-lg">
					                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-check"></span></span>
					                      <input type="text" class="form-control"  placeholder="First Name" aria-describedby="sizing-addon1">
					                   <select class="form-control" ng-model="ctrl.account_type">
					                      	<option>--Account type--</option>    
					                          <option>SB</option>
					                          <option>CA</option>
					                          <option>SB-NRE</option>
					                          <option>SB-NRO</option>
					                          <option>Other</option>					                    
					                   </select>
					               </div> 
					               <ul class="pager">
					                   <li class="previous"><a data-toggle="tab" href="#personal"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
					                   <li class="next"><a data-toggle="tab" href="#payment"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
					               </ul>
					        </div> 
					   End of bank content
					   start od payment content
					   <div id="payment"  class="tab-pane fade">
					          <div class="input-group input-group-lg">
					               <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
					                  <input id="datepicker"  class="form-control" placeholder="Start Date" aria-describedby="sizing-addon1" ng-model="ctrl.startdate" >
					                 </div>
					                  <br>
					           <div class="input-group input-group-lg">
					                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
					                     <input id="datepicker" class="form-control" placeholder="End Date" aria-describedby="sizing-addon1" ng-model="ctrl.enddate" >
					           </div>
					                  <br>
					       <div class="form-group">
					                <div class='input-group date' id='datetimepicker1'>
					                    <input type='text' class="form-control" placeholder="Start Date"/>
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
					                </div>
					            </div>
					                   <script type="text/javascript">
					            $(function () {
					                $('#datetimepicker1').datetimepicker();
					            });
					        </script>
					        
					         <div class="form-group">
					                <div class='input-group date' id='datetimepicker1'>
					                    <input type='text' class="form-control" placeholder="End Date Date"/>
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
					                </div>
					            </div>
					                   <script type="text/javascript">
					            $(function () {
					                $('#datetimepicker1').datetimepicker();
					            });
					        </script> 
					         <div class="input-group input-group-lg">
					           <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-usd"></span></span>
					           <input type="text" class="form-control" placeholder="Amount in Rupees" aria-describedby="sizing-addon1" ng-model="ctrl.amount">
					          </div> <br>
					    <p>Frequency</p>
					       <form>
					      <input type="radio" name="frequency" value="Daily" checked>Daily&nbsp;
					      <input type="radio" name="frequency" value="Weekly">Weekly&nbsp;
					      <input type="radio" name="frequency" value="Quarterly">Quarterly&nbsp;
					      <input type="radio" name="frequency" value="Semi Annualy">Semi Annualy&nbsp;
					      <input type="radio" name="frequency" value="Yearly">Yearly&nbsp;
					      <input type="radio"  name="frequency" value="Bi-Monthly	">Bi-Monthly	&nbsp;
					      <input type="radio"  name="frequency" value="As and When Presented">As and When Presented&nbsp;
					</form> 
					<div class="input-group input-group-lg">
					      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-check"></span></span>
					                      <input type="text" class="form-control"  placeholder="" aria-describedby="sizing-addon1">
					                      <select class="form-control" ng-model="ctrl.frequency">
					                      	<option>--Frequency--</option>    
					                          <option>Daily</option>
					                          <option>Weekly</option>
					                          <option>Quarterly</option>
					                          <option>Semi-Annualy</option>
					                          <option>Yearly</option>
					                          <option>Bi-Monthly</option>
					                          <option>As and when Presented</option>
					                      </select>
					 </div> <br>
							<button ng-click="submit()">submit</button>
					        <button type="button"  class="btn btn-primary" value=Submit ></button> 
					         
					     <ul class="pager">
					         <li class="previous"><a data-toggle="tab" href="#bank"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
					     </ul>
					  </div>
					  End of payment content  
			    </div>
			    End of tab content
      </div>
	End of Body donor
  			 <div class="col-xs-6 col-md-4"></div>

	</div>
</div>       

	</body>
          </html> -->