/* Success page start */
#right{
	color:yellowgreen;
	font-size:160px;
}

#donation {
	margin-right: 222px;
}
#sucess{
	color:yellowgreen;
	font-size:30px;
	/*margin-right:219px;*/
}
#s1{
	margin-right:222px;
}
#print{
	margin-left: 583px; 
}
#c1{
	color:yellowgreen;
	font-size:40px;
	 margin-right: 204px;
}
#new{
	    margin-right: 213px;
	background-color: rgba(158, 158, 158, 0.58);
}
#glycolic{
	font-size:30px; 
	margin-left:607px;
}
 /* Success page end */
  /* create donar page start */
 .add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#search{
	    margin-left: 486px;
}